a {
    color: inherit;
}
.nav__link {
    text-decoration: none;
    width: 100%;
    &--underline {
        text-decoration: underline;
    }
}

.license {
    font-family: "ralewaybold", sans-serif;
}

.aside__link:hover {
    font-weight: bolder;
}

.aside__link:active {
    color: #bbb;
}