.my__name {
    margin: 0;
}

.my__job {
    margin-top: 0;
    font-family: "ralewaylight", sans-serif;
    font-size: 1.25em;
}

.aside__cv h2 {
    background: linear-gradient(to right, #41373000 0%, #413730FF 50%, #41373000 100%);
    padding: 0.3em;
}

.title__article--blog {
    margin: 0;
}